*{
    margin: 0;
    padding: 0;
}

.body{
    background-color: rgb(235, 163, 30);
    font-size: 20px;
    /* background-color: black;
    margin-top: 50px;
    padding-top: 200px; */
}

.top_div {
  /* display: flex; */
  /* justify-content: right; */
  /* align-items: right; */
  background-color: rgb(250, 217, 155);
  padding: 0.5% 0% 0.5% 75%;
  /* width: 100%; */
  /* margin-left:60%; */
}
.language_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 136, 0);
  border: none;
  padding: 0.5% 0% 0.5% 75%;
  margin: 0.5% 0.5% 0.5% 0%;
  padding: 5% 0%;
  font-size: 100px;
  color: rgb(250, 217, 155);
  /* height: 100%; */
  /* font-size: 1%; */
}

#image_logo_div{
    background-color:yellow;
    padding: 0px;
    margin: 0px;
    position: relative;
    height: 25vh;
    width: 208vh;
}

#kanpur_logo{
    background-color: yellow;
    width: 20%;
    height: 37vh;
    margin: 0px;
    padding: 0px;
    position:absolute;
    top: -10vh;
}





/* 
#Form_heading{
    background-color: orange;
    text-align: center;
    font-size: 5vh;
    width:211vh;
} */

/* 
#below_body_container{
    display:flex;
} */

/* #mid_form_div{
    background-color: #ffa500;
    float: left;
} */








#Left_img img{
    margin-left: 5vh;
    margin-top: 20vh;
    float: left;
    width: 35vh;
}



#Right_img img{
    margin-top: 20vh;
    width: 35vh;
}



#footer{
    background-color: orange;
    width: auto;
}



.icon_style{
    width: 50%;
}

.btn{
    width: 10%;
    font-size: 3vh;
    margin-top: 1vh;
    margin-left: 20vh;
    border-radius: 2rem;
    font-weight: bolder;
}

.Ctrl_pannel{
    margin-top: 5vh;
    margin-bottom: 50px;
    background-color:  rgb(172, 58, 17);
    height: 8vh;
}


.submit{
    margin-left: 30vh;

}

.site_heading{
    font-size: 5vh;
}

.footer_body{
    padding-bottom: 5vh;
}



table{
    border: red 2px solid;
}

table, tr, td{
    border: 1px solid;
    padding: 1% 1% 1% 1%;
    margin: 2%;
    font-size: 20px;
    width:max-content;
  }

  table{
    padding: 5px;
    background-color: rgb(255, 145, 1);
    margin-top: 2%;
    border: darkblue 2px solid ;
    overflow-y: scroll;
  }

  table th {
    border: 1px solid;
    font-size: 25px;
    align-self: center;
    width: fit-content;
  }



/* .notice_board{
    border: orangered 2px solid;
    width: 100%;
    margin-left: 4%;
} */

  header {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-self: center;
        align-items: center;
        width: 100%;
        background-color: rgb(250, 217, 155);
        /* margin-left: 3%; */
      }
      header a img {
        /* max-width: 1350px; */
        max-width: 100%;
        height: auto;
        /* margin-left: 40px; */
      }
      #heads {
        width: 95%;
      }
      .parent_page {
        margin-left: 0%;
      }
      main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(250, 217, 155);
        width: 100%
      }
      footer {
        width: 100%;
        background-color: rgb(255, 94, 0);
        color: white;
        padding: 20px;
        text-align: center;
        font-size: 110%;
      }

      footer a img {
        width: 50px;
        height: auto;
      }

      .social-icons {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .social-icons a {
        margin: 20px 30px;
      }

      .social-icons img {
        width: 40px;
        height: 40px;
      }

      @media screen and (max-width: 500px) {
        .social-icons {
          flex-direction: column;
        }
        .footer {
          width: 200%;
        }
      }

      .hidden {
        display: none;
      }
      .btn {
        height: 25px;
        width: 200px;
      }
      th {
        padding: 0px 10px;
      }

      hr{
        color: black;
        background-color: orangered;
        height: 1px;
        box-shadow: 1px 20px 20px;
      }

      .upper_body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 0px;
        z-index: index inherit;
        width: 100%;
      }

      .mytable{
        margin :0% 1% 0% 0%;
      }